<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'musi/css/estilo.css' %}"> 
    <script src="{% static 'sweet-alert/js/sweetalert2.js' %}"></script>
    <link rel="stylesheet" href="{% static 'sweet-alert/css/sweetalert2.css'%}">
</head>

<body>
<header id="header">
    <div class="container">   
        <nav id="nav">
            <ul>
                <li>
                    <a href="{% url 'inicio' %}">Ir a Inicio</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
{% load crispy_forms_tags %}
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-8 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2>Registro de Usuario</h2>
                        <hr>
                        <form action="" method="POST" autocomplete="off">   
                            <div class="form-group col"> 
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6 mb-0">
                                    {{ form.first_name | as_crispy_field }}
                                </div>
                                <div class="form-group col-md-6 mb-0">
                                    {{ form.last_name | as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 mb-0">
                                    {{ form.username | as_crispy_field }}
                                </div>
                                <div class="form-group col-md-6 mb-0">
                                    {{ form.email | as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 mb-0">
                                    {{ form.password1 | as_crispy_field }}
                                </div>
                                <div class="form-group col-md-6 mb-0">
                                    {{ form.password2 | as_crispy_field }}
                                </div>
                            </div>
                            {{ form.media.js }}
                            <hr>
                            <div>
                            <input type="submit" value="Registrar" class="btn btn-success float-right btn btn-xs">
                            </div>
                            </div>
                        </form>
                    </div>
                </div> 
            </div>
        </div>            
    </div>
</body>
</html>