{% extends 'admin/base_site.html' %}
{% load i18n static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block head %}

{% endblock %}

{% block extrahead %}
    <script src="{% static 'highcharts/code/highcharts.js' %}"></script>
    <script src="{% static 'highcharts/code/modules/exporting.js' %}"></script>
    <script src="{% static 'highcharts/code/modules/offline-exporting.js' %}"></script>
    <script src="{% static 'highcharts/code/modules/export-data.js' %}"></script>
    <script src="{% static 'highcharts/code/modules/accessibility.js' %}"></script>
{% endblock %}

{% block bodyclass %}

{{ block.super }} 

Reportes de Solicitudes

{% endblock %}

{% block content_title %} {% trans 'Reportes' %} {% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'admin:index' %}"><i class="fa fa-building-alt"></i> {% trans 'Home' %}</a></li>
        <li class="breadcrumb-item">{% trans 'Reportes' %}</li>
    </ol>
{% endblock %}

{% block content %}
    {% get_side_menu using="app_list" as dashboard_list %}
    {% if dashboard_list %}
    {% widthratio dashboard_list|length 2 1 as middle %}
    {% endif %}

    <div class="container-fluid">
       <div class="row">
            <div class="col-lg-12">
                <div id="container"></div>
            </div>
       </div>
    </div>

    <script type="application/javascript">
        Highcharts.setOptions({
            lang: {
                months: [
                    'Enero', 'Febrero', 'Marzo', 'Abril',
                    'Mayo', 'Junio', 'Julio', 'Agosto',
                    'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'
                ],
                shortMonths: [
                    'Ene', 'Feb', 'Mar', 'Abr', 
                    'May', 'Jun', 'Ago',
                    'Sep', 'Oct', 'Nov', 'Dic'
                ],
                weekdays: [
                    'Domingo', 'Lunes', 'Martes', 'Miércoles',
                    'Jueves', 'Viernes', 'Sábado'
                ]
            }
        });

        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Número de Solicitudes Mensuales'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Ene',
                    'Feb',
                    'Mar',
                    'Abr',
                    'May',
                    'Jun',
                    'Jul',
                    'Ago',
                    'Sep',
                    'Oct',
                    'Nov',
                    'Dic'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Solicitudes'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Equipos',
                data: {{get_solicitudes_mensuales_equipo|safe}} 
        
            }, {
                name: 'PPA',
                data: {{get_solicitudes_mensuales_ppa|safe}}
        
            }, {
                name: 'Neumáticos',
                data: {{get_solicitudes_mensuales_neumatico|safe}}
        
            }, {
                name: 'Baterías',
                data: {{get_solicitudes_mensuales_bateria|safe}}
        
            }]
        });

    </script>

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
             <img src="..." class="rounded me-2" alt="...">
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" 
                  aria-label="Close"> 
         </button>
       </div>
       <div class="toast-body">
            Hello, world! This is a toast message.
       </div>
     </div>
   </div>

{% endblock %}
