{% extends 'musi/base.html' %}

{% block content %}
<div class="d-flex justify-content-center">
    <h2>Editar Usuario</h2>
    <hr>
    <a href="{% url 'listar_entidad' %}">Regresar</a>
</div>
<br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="carbody">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <div class="d-flex justify-content-center">
                        <br>
                        <input type="reset" value="Cancelar" class="btn btn-secondary">
                        &nbsp;
                        <input type="submit" value="Modificar" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}