{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify jazzmin %}
{% get_jazzmin_settings request as jazzmin_settings %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
    {{ media }}
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}


{% block content %}
<div class="wrapper">

	
	
	<section class="content">
		<div class="row">
			<div class="col-12">
				<div class="card">
				<form class="form-horizontal" method="post" id="form" action="{% url 'salvar' %}">

						{% csrf_token %}
					<div class="card-header-primary">
						<h3 class="card-title">Listado de salvas de la base de datos</h3>

						 	<div class="col-md-12 text-right">
							 	<button id="submit" type="submit" class="btn btn-success">
								 	<span class="fa fa-save" style="color: #0e0f11;"> Salvar</span>
							 	</button>
						 	</div>

					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<div class="form-body">
							<table id="example2" class="table table-bordered table-hover table-responsive-sm">
								<thead>
								<tr>
									<th>
										Número
									</th>
									<th>
										Ruta de la salva
									</th>
									<th>
										Nombre del fichero
									</th>
									<th>
										Acción
									</th>
								</tr>
								</thead>
								<tbody>
								{% for u in dblist %}
									<tr>
										<td>
											{{ forloop.counter }}
										</td>
										<td>
											{{ u.1.0 }} 
										</td>
										<td>
											{{ u.0.0 }}
										</td>

										<td>
											<span class="input-group-sm">
											<a href="{% url 'restaurar' u.0.0 %}"

										   	class="btn btn-sm btn-primary" tit	le="Restaurar base de datos">
												<i class="fa fa-history"></i>

											</a>
												<a href="{% url 'descargar' u.0.0 %}" class="btn btn-warning btn-sm"
												title="Descargar Archivo" download>
												<i class="fa fa-download"></i>
												</a>
											
											</a>
											<a href="{% url 'eliminar' u.0.0 %}" class="btn btn-danger btn-sm"
											title="Eliminar Archivo" >
											<i class="fa fa-eraser"></i>
											</a>
											</span>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				<!-- /.card-body -->
				</form>
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</section>
</div>	
{% endblock %}

{% block extrajs %}
    {{  block.super }}
    <script type="text/javascript" src="{% static 'vendor/select2/js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jazzmin/js/change_form.js' %}"></script>
    {% if jazzmin_settings.related_modal_active %}
    <script type="text/javascript" src="{% static 'jazzmin/plugins/bootstrap-show-modal/bootstrap-show-modal.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jazzmin/js/related-modal.js' %}"></script>
    {% endif %}
{% endblock %}