pre, p {
    font-size: 1.5em;
    color: #fdcc61;
    background-color: transparent;
}

body {
  background-image: url("/Construimport-Server/static/img/fondo.jpg") no-repeat;
  width: 100%;
}

container {
  position: relative;
  
}