{% extends "admin/change_list.html" %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/Chart.min.js' %}"></script>
    <script>
        var randomColorGenerator = function () {
            return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
        };
        var options = {
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                position: 'left'
            },
            title: {
                display: true
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        };
        window.onload = function () {
            var ctx = document.getElementById("idpais-chart");
            {% regroup cl.queryset|dictsort:"idpais" by get_idpais_display as idpais_list %}
            var lineChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: [{% for idpais in idpais_list %}'{{ idpais.grouper }}',{% endfor %}],
                    datasets: [{
                        data: [{% for idpais in idpais_list %}'{{ idpais.list|length }}',{% endfor %}],
                        backgroundColor: [{% for idpais in idpais_list %}randomColorGenerator(),{% endfor %}]
                    }]
                }, options: options
            });
        }
    </script>
{% endblock %}
{% block content %}
    <h1>Gráfico </h1>
    <hr>
    <div class="col">
        <div class="col-sm-4">
            <canvas id="idpais-chart" style="width: 100px !important;"></canvas>
        </div>
    </div>
    {{ block.super }}
{% endblock %}