{% extends "admin/change_form.html" %}
{% load i18n %}

{% block content %}
<table>
    <tr>
        <td width="5%"></td>
        <td width="90%">
            <form action="{% url 'Solicitudes:solicitud_equipo' %}" method="post" class="uniForm">
                {% csrf_token %}
                <br>
                <p class="grande"> {{ nombre_formulario }} </p>
                <br>
                {{ form.as_p }}
                <br>
                <p><input type="submit" value="Guardar"> <input type="reset" value="Limpiar"></p>
            </form>
        </td>
        <td width="5%"></td>
    </tr>
</table>
{% endblock %}