{% extends "admin/change_form.html" %}
{% load i18n %}

{% block content %}
<div class="container-fluid">
    <table>
    <tr>
        <td></td>
        <td>
             <form action="{% url nombre_url %}" method="post" class="uniForm">
                  {% csrf_token %}
                  <br>
                 <p>{{ nombre_formulario }} </p>
                <br>
                {{ form.as_p }}
                <br>
                <p><input type="submit" value="Guardar"> <input type="reset" value="Limpiar"></p>
            </form>
        </td>
        <td></td>
    </tr>
    </table>
</div>
{% endblock %}