pre, p {
    font-size: 1.5em;
    color: #fdcc61;
    background-color: transparent;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: url("/Construimport-Server/static/img/fondo.jpg") no-repeat;
  width: 100%;
}
