<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitor Universal</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'musi/css/estilo.css' %}"> 
    <script src="{% static 'sweet-alert/js/sweetalert2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'sweet-alert/css/sweetalert2.min.css'%}">
    <script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>
    <script src="{% static 'smart-selects/admin/js/bindfields.js' %}"></script>
    <script src="{% static 'smart-selects/admin/js/chainedm2m.js' %}"></script>

    {% block css %}
    {% endblock %}

</head>

<body>
    <header id="header">
        <div class="container">   
            <nav id="nav">
                <ul>
                    <li>
                        <a href="{% url 'inicio' %}">Inicio</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'entidad' %}">Entidades</a>
                    </li>
                    <li>
                        <a href="{% url 'modulos' %}">Módulos</a>
                    </li>
                    <li>
                        <a href="{% url 'monitoreos' %}">Monitoreos</a>
                    </li>
                    <li>
                        <a href="{% url 'reportes' %}">Reportes</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Cerrar Sesión</a>
                    </li>
                    <li id="username">
                        <a>{{ user.username }}</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login' %}">Iniciar Sesión</a>
                    </li>
                    <li>
                        <a href="{% url 'registrar' %}">Registrarse</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div id = "content">

        {% block content %}
        {% endblock %}

    </div>

    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    title: "Felicitaciones!",
                    text: "{{ m }}",
                    icon: "success",

                })
            </script>
        {% endfor %}
    {% endif %}

    {% block js %}
    {% endblock %}

</body>
<footer>
</footer>
</html>