{% extends 'musi/base.html' %}

{% block content %}
{% if perms.musi.add_entidad %}
<br>
<a href="{% url 'agregar_entidad' %}" class="btn btn-default btn-sm">Agregar Entidad</a>
{% endif %}
<br>
<br>
<div class="col-12 col-md-12 offset-md-12">
    <div class="d-flex justify-content-center">
        <h2>Nuestras entidades alrededor del país</h2> 
    </div>
    <hr>
    <div class="entity">
        {% for p in lista_provincias %}
            <div class="listar">
                <div class="contenedor_provincia">
                    <div class="lista">
                    <a href="{% url 'listar_entidad' p.id %}">{{ p.nombre | title }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>  
{% endblock %}