{% extends 'musi/base.html' %}

{% block content %}
<br>
<div class="d-flex justify-content-center">
    <h2>Bienvenidos al Portal Web del Monitor Universal</h2>   
    <hr>
</div>
<div>
    <p>El proyecto Monitor Universal de Sistemas e Infraestructura(MUSI) 
        pretende brindar un software a través del cuál se pueda monitorear
        y analizar la historia de todo lo referente al estado de la red de la Corporación CIMEX,
        a su infraestructura y al flujo de comunicaciones. En busca de este resultado se desarrolló una aplicación
        que integra en un repositorio central los datos de diversas fuentes relacionadas con los procesos informáticos y tecnológicos
        que se monitorean en la empresa, así como también aplicaciones propias de monitoreo, 
        las cuales apoyan a los directivos en la toma de decisiones. 
        La división a llevar a cabo esta tarea es la Dirección General de Informática y Comunicaciones(Datacimex).
    </p>
</div>
{% endblock %}
