{% extends 'musi/base.html' %}

{% block content %}
{% if perms.musi.add_usuario %}
<br>
<a href="{% url 'agregar_usuario' %}" class="btn btn-default btn-sm">Agregar Usuario</a>
{% endif %}
<br>
<br>
<div class="col-12 col-md-12 offset-md-12">
    <div class="d-flex justify-content-center">
        <h2>Usuarios de la entidad</h2> 
    </div>
    <hr>
    <div class="entity">
        {% for u in lista_usuarios %}
            <div class="listar">
                <div class="contenedor_usuarios">
                    <div class="lista">
                        <a href="{% url 'listar_usuario' u.entidad %}">{{ u.nombre | title }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>  
{% endblock %}